.lead {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.3%;
  box-sizing: border-box;
}

@media screen and (max-width: 1060px) {
  .lead {
		padding: 48px 0 0 0;
 }
}
