.cover__subtitle {
	margin: 0;
	color: #ffffff;
	width: 360px;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

@media screen and (max-width: 500px) {
	.cover__subtitle {
		width: 288px;
	  font-size: 14px;
		line-height: 16px;
		padding: 0 16px;
	}
}