.place__main-text {
	display: grid;
	grid-template-columns: repeat(1, minmax(min-content, max-content));
	grid-template-rows: repeat(2, minmax(min-content, max-content));
	row-gap: 26px;
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
	.place__main-text {
		padding: 0 16px;
	}
}