@font-face {
    src: url(../../fonts/Inter-Regular.woff2);
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
}

@font-face {
    src: url(../../fonts/Inter-Black.woff2);
    font-family: 'Inter';
    font-weight: 900;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
}
}

@font-face {
    src: url(../../fonts/Inter-Bold.woff2);
    font-family: 'Inter';
    font-weight: bold;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
}
}
