@font-face {
  src: url('../fonts/Inter-Regular.woff2') format("woff2");
  src: url('../fonts/Inter-Regular.woff') format("woff");
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  src: url('../fonts/Inter-Black.woff2') format("woff2");
  src: url('../fonts/Inter-Black.woff') format("woff");
  font-family: 'Inter';
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  src: url('../fonts/Inter-Bold.woff2') format("woff2");
  src: url('../fonts/Inter-Bold.woff') format("woff");
  font-family: 'Inter';
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

