.place {
	display: grid;
	grid-template-columns: fit-content(460px) fit-content(484px);
	grid-template-rows: repeat(2, minmax(min-content, max-content));
	column-gap: 40px; 
	row-gap: 48px;
}

@media screen and (max-width: 1060px) and (min-width: 987px) {
	.place {
		display: grid;
	  grid-template-columns: fit-content(440px) fit-content(484px);
		grid-template-rows: repeat(2, minmax(min-content, max-content));
		column-gap: 40px; 
	 row-gap: 48px;
  }
}

@media screen and (max-width: 986px) and (min-width: 768px) {
	.place {
		display: grid;
	  grid-template-columns: fit-content(340px) fit-content(484px);
		grid-template-rows: repeat(2, minmax(min-content, max-content));
		column-gap: 40px; 
		row-gap: 48px;
  }
}

@media screen and (max-width: 767px) {
	.place {
		width: 100%;
		display: grid;
	  grid-template-columns: minmax(min-content, max-content);
		grid-template-rows: repeat(auto-fill, minmax(min-content, max-content));
		column-gap: 40px; 
		row-gap: 48px;
  }
}